.Scout__main {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Scout__main > .Scout__middleCont {
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  height: 87vh;
  padding: 0px 32px;
  margin: 1rem;
  transition: all 0.3s ease;

  border-radius: 25px;
  border: 3px double transparent;
  background-image: linear-gradient(rgb(24, 24, 31), rgb(24, 24, 31)),
    radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.Scout__main > .Scout__middleCont > .Scout__topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0px;
  padding-left: 60px;

  height: 50px;
  width: 100%;
  border-radius: 25px;
  background-color: #1a1a1c;
  box-shadow: 4px 6px 10px black;
}
.Scout__main > .Scout__middleCont > .Scout__topBar > p {
  font-weight: 400;
  letter-spacing: 1.5px;
  margin: 0px 20px;
}
.Scout__main > .Scout__middleCont > .Scout__topBar > .Scout__topBarActive {
  font-weight: 800;

  background: linear-gradient(to left, #e17f55, #d85d78, #4883ac, #50aa98);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Scout__main > .Scout__middleCont > .Scout__Posts {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow-y: scroll;
}

.Scout__main > .Scout__middleCont > .Scout__Posts::-webkit-scrollbar {
  width: 15px;
}
.Scout__main > .Scout__middleCont > .Scout__Posts::-webkit-scrollbar-track {
  border-radius: 7.5px;
  background-color: rgba(27, 27, 27, 0.8);
  box-shadow: inset 2px 3px 10px rgb(0, 0, 0),
    inset -0.5px -1.5px 6px rgba(97, 102, 107, 0.5);
}
.Scout__main > .Scout__middleCont > .Scout__Posts::-webkit-scrollbar-thumb {
  border-radius: 7.5px;
  width: 25px;
  box-shadow: 4px 6px 10px black, -1px -3px 6px rgba(97, 102, 107, 0.5);
  background-color: #1a1a1c;
}
