.SignUp__main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}
.SignUp__main > .SignUp__card {
  height: 100%;
  width: 85%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SignUp__main > .SignUp__card > .SignUp__leftCont {
  border-radius: 32px 0px 0px 32px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
  padding: 12px 32px;
  transition: all 0.3s ease;
  background-color: rgba(10, 10, 17, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.SignUp__main > .SignUp__card > .SignUp__leftCont > h2 {
  font-size: 40px;
  text-shadow: 0 0 10px rgb(200 212 255 / 69%), 0 0 10px rgb(200 212 255 / 25%);
}
.SignUp__main > .SignUp__card > .SignUp__leftCont > .SignUp__connectWallet {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.SignUp__main > .SignUp__card > .SignUp__leftCont > .SignUp__form {
  margin: 22px 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* -------------------------------------------------------------------------------- */

/* Right container */
.SignUp__main > .SignUp__card > .SignUp__rightCont {
  border-radius: 0px 32px 32px 0px;
  box-sizing: border-box;
  transition: all 0.3s ease;

  color: white;
  width: 35%;
  height: 100%;

  background-color: #18181f;
  background-position: center center;
  background-size: cover;
}

.SignUp__main .SignUp__gradientText {
  font-size: 20px;
  font-weight: 600;

  background: linear-gradient(to left, #e17f55, #d85d78, #4883ac, #50aa98);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.SignUp__main .SignUp__gradientBtn {
  font-size: 23px;
  margin: 7px 0px;
  padding: 7px 32px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px;

  color: white;
  border: none;
  outline: none;
  background-color: rgba(27, 27, 27, 0.8);
  box-shadow: 2px 3px 10px rgb(0, 0, 0),
    -0.5px -1.5px 6px rgba(97, 102, 107, 0.5);
}
.SignUp__main .SignUp__gradientBtn:hover {
  box-shadow: inset 2px 3px 10px rgb(0, 0, 0),
    inset -0.5px -1.5px 6px rgba(97, 102, 107, 0.5);
}

.SignUp__main .SignUp__neumorphicInput {
  color: white;
  font-size: 20px;
  font-weight: 300;

  width: 100%;
  margin: 10px 0px;
  padding: 12px 37px;
  transition: all 0.3s ease;

  border-radius: 50px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: rgba(27, 27, 27, 0.8);
  box-shadow: inset 2px 3px 10px rgb(0, 0, 0),
    inset -0.5px -1.5px 6px rgba(97, 102, 107, 0.5);
}

.SignUp__main .SignUp__grayText {
  margin-top: 20px;
  color: #2e2e2e;
  font-size: 15px;
}
.SignUp__main.SignUp__link {
  color: #464646;
  font-size: 15px;
  font-weight: 500;

  background: linear-gradient(to right, rgb(0, 128, 255), rgb(255, 0, 225));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.SignUp__main .SignUp__flexRowBetween {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.SignUp__main .SignUp__flexRowBetween > .SignUp__neumorphicInput {
  width: 49%;
}
